@import url(https://rawgit.com/hakimel/reveal.js/master/dist/theme/black.css);

.container{
    display: flex;
}
.col{
    flex: 1;
}


.reveal:has(section.exercise.present) {
    background: "linear-gradient(to bottom, #339966, #006666)"; 
}
