@import https://rawgit.com/hakimel/reveal.js/master/dist/theme/black.css

.container{
    display: flex;
}
.col{
    flex: 1;
}
body{
    background-color: red;
}

section[class~="exercise"] {
    background-color: red !important; 
}
